@charset "UTF-8";
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    /* transition: all .5s ease; */
    background-color: blueviolet;

}
body{
    height: 100%;
}
h3{
font-size: 40px;
padding: 30px 0;
color: black;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    grid-gap: 10px;
    grid-template-rows: repeat(4, minmax(0, 1fr));
    padding-inline: 30px;
    margin-left: 30px;
    height: 100%;
   }
.quote_content{
    height: 150px;
    width: 250px;
    border-radius: 20px;
    background: linear-gradient(90deg, deeppink,blueviolet); 
    padding: 10px;
    padding-top: 30px;
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0, 0,0 ,.9);
    border-top: 1px solid rgba(255, 255, 255 ,.3);
    border-left: 1px solid rgba(255, 255, 255 ,.3);
    /* backdrop-filter: blur(10px);
    transform-style: preserve-3d ;  */
    text-align: center;
    cursor: pointer;   
    font-style: italic;
    font-weight: 700;
}
.quote_content:hover{
    transition: all .5s;
    /* transform: scaleY(0.5); */
    /* transform: scaleX(1.1); */
    margin: 5px;
    background: white;
    /* border-color: 5px deeppink; */
    /* border-color: linear-gradient(90deg, deeppink,blueviolet) 10px;  */
}
    
   